*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-color: rgb(78, 151, 151);
    font-family: 'Courier New', Courier, monospace;
}

.score{
    color: rgb(170, 170, 170);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.score h2{
    font-size: 30px;  
}

.score p{
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.intro{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
     transition: opacity 3s ease; 
}

.intro h1{
    font-size: 50px;
}

.intro button, .match button{
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    background-color: rgb(44, 144, 121);
    border-radius: 10px;
    cursor: pointer;
}

.match{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 3s ease 1s;
}

.winner{
    color: rgb(239, 10, 10);
    text-align: center;
    font-size: 50px;
    justify-content: center;
    text-align: center;
}

.hands, .options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.player-hand{
    transform: rotateY(180deg);
}

div.fadeOut{
    opacity: 0;
    pointer-events: none;
}

div.fadeIn{
    opacity: 1;
    pointer-events: all;
}

@keyframes shakePlayer {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    15%{
        transform: rotateY(180deg) translateY(-50px);
    }
    25%{
        transform: rotateY(180deg) translateY(0px);
    }
    35%{
        transform: rotateY(180deg) translateY(-50px);
    }
    50%{
        transform: rotateY(180deg) translateY(0px);
    }
    65%{
        transform: rotateY(180deg) translateY(-50px);
    }
    75%{
        transform: rotateY(180deg) translateY(0px);
    }
    85%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
}

@keyframes shakeComputer {
    0%{
        transform: translateY(0px);
    }
    15%{
        transform: translateY(-50px);
    }
    25%{
        transform: translateY(0px);
    }
    35%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
    65%{
        transform: translateY(-50px);
    }
    75%{
        transform: translateY(0px);
    }
    85%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}